@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Crimson Text", serif;
}

body {
  background-color: #ffffff;
}

.homePageContainer {
  display: flex;

  gap: 1.5rem;
  margin: 1rem;

  background-color: #eef6fb;
}

.homePageImg {
  position: relative;
}

.homePageLogin {
  padding: 1rem;
  width: 100%;
}

.homePageImgDiv {
  width: 768px;

  background-color: #fff;

  height: 400px;

  bottom: -31%;
  position: absolute;

  z-index: 23;

  display: flex;

  justify-content: flex-start;
  align-items: baseline;
  gap: 1.5rem;
  padding-top: 5rem;

  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
}

.homePageImgDivInsideOne {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.homePageImgDivInsideTwo {
}

.heightGap {
  height: 15rem;
  background-color: #ffffff;
}
.homePageImgDivInsideOneLine {
  height: 3px;
  background-color: red;
  width: 35px;
}

.homePageImgDivBtn {
  background-color: #d12215;
  color: #fff;

  border-color: #d12215;
  padding: 0.73125rem 1.625rem;
  font-size: 1.125rem;
}

.homePageImgDivInsideOneCircle {
  background-color: #d12215;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageImgDivInsideOneCircleInside {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.homePageImgDivInsideTwoHeading {
  color: #d12215;
  font-weight: bolder;
  width: 50%;
}

.homeloginTresaury,
h4 {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  letter-spacing: 0.05em;
  /* padding: 0.4375rem 1rem 0.4375rem 1.5625rem; */
  padding: 0.5rem 0px;
  background-color: #00497e;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  display: contents;
  justify-content: center;
  display: flex;
}

.homePageImgDivInsideTwoPara {
  font-weight: 500;
  width: 74%;
}

.homytwoMain {
  margin-top: 6rem;
  display: flex;
  gap: 1.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.homytwoMainOne {
  width: 50%;
}

.homyTwoMainTwo {
  background-color: #fafaf4;
  padding: 2rem;
  border-top-left-radius: 46px;
}

.homytwoMainOneIcon {
  font-size: 2.1875rem;
}

.homyTwoMainTwoOne {
  width: 67%;
}

.homyOneMainDivWithCircle {
  display: flex;
  justify-content: space-between;
}

.homyTwoMainTwoPara {
  font-size: 2.1875rem;
  color: #00417c;
}
.homyOneMainDiv {
  display: flex;

  align-items: flex-start;
  gap: 1rem;
  border-top: solid 1px #e2e2e2;
}

.homytwoMainOneText {
  color: #00417c;
  font-size: 25px;
}

.homytwoMainh2 {
  color: #00417c;
  font-size: 3.125rem;
  font-weight: 500;
}

.redLine {
  height: 4px;
  background-color: #d12215;
}

.homeSection3Main {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 50px 64px;
  box-shadow: 0 4px 60px 0px rgba(0, 0, 0, 0.07);
  position: relative;
}

.homeSection3MainDivTwo {
  position: relative;
  top: 140px;
}

.homeSection3MainDivImage {
  border-top-left-radius: 2.3rem;
  border-bottom-left-radius: 2.3rem;
}

.homeSectionFourMainDiv {
  display: flex;
  background-color: #fafaf4;
  justify-content: center;
  gap: 3rem;
}

.homeSection4PartOne {
  width: 600px;
}
.homeSection4PartOneImg {
  width: 100%;
  border-top-right-radius: 2.625rem;
}

.homeSection4PartTwo {
  display: flex;
  flex-direction: column;
}
.homeSection4PartTwoFlexi {
  display: flex;
  gap: 5rem;
  border-top: solid 1px #e2e2e2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 0.75rem;
}

.homySection5Main {
  border: solid 4px #d5efff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  position: relative;
  padding: 3rem;
}

.homySection5MainOne {
}

.homePageImage {
}

@media (max-width: 1420px) {
  .homePageLogin {
    display: none;
  }

  .homePageImg {
    width: 100%;
  }

  .homePageImage {
    width: 100%;
  }
}

@media (max-width: 1132px) {
  .homePageImage {
    /* max-width: 768px; */
    width: 100%;
  }

  .homeSection3MainDivImage {
    width: 430px;
  }

  .homeSection3MainDivTwo {
    position: absolute;
    top: 320px;
    right: 0;
  }

  .homeSection3Main {
    flex-direction: column;
  }
}

@media (max-width: 805px) {
  .homePageImage {
    /* max-width: 438px; */
    width: 100%;
    object-fit: cover;
  }

  .homePageImgDiv {
    width: 100%;
    position: static;
  }

  .homeSectionFourMainDiv {
    margin-top: 12rem;
  }

  .homyTwoMainTwoPara{
    font-size: 18px;
  }
  .homytwoMainOneText{
    font-size: 18px;
  }
}

@media screen and (max-width: 620px) {
  .homeSection3MainDivImage {
    width: 330px;
  }

  .homytwoMain {
    flex-direction: column;
  }

  .homePageImgDivInsideOne {
    display: none;
  }

  .heightGap {
    height: 1rem;
  }
}

@media screen and (max-width: 526px) {
  .homeSection3MainDivImage {
    width: 230px;
  }

  .homeSection3MainDivTwo {
    top: 420px;
    right: 0;
  }
}

@media screen and (max-width: 421px) {
  .homeSection3MainDivTwo {
    top: 443px;
    right: 0;
  }
}

@media screen and (max-width: 714px) {
  .homeSection4PartOne {
    display: none;
  }

  .homeSection4PartTwoFlexi {
    gap: 0rem;
    flex-direction: column;
  }

  .homePageImgDivBtn {
    font-size: 0.9375rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.27;
    text-align: left;
    padding: 0.29375rem 1.21875rem;
  }

  .homeSectionFourMainDiv {
    justify-content: flex-start;
  }
}

.treasuryheading {
  font-size: 16px;
}

.homeSectionOuterDiv {
  margin-top: 6rem;
  margin-bottom: 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.homySecFive {
  border-radius: 1.75rem;
  min-width: 768px;
}

.homySection5MainTwo {
  width: 353px;
  position: absolute;

  top: 144px;

  right: -120px;
}
.homySection5MainTwoImg {
  width: 100%;
  border-radius: 1.75rem;
}

.homePageImgDivInsideTwoPara {
  text-align: justify;
}

@media screen and (max-width: 1048px) {
  .homySecFive {
    max-width: 768px;
  }

  .homySection5MainTwo {
    right: -52px;
  }
}

@media screen and (max-width: 874px) {
  .homySection5MainTwo {
    width: 253px;
  }

  .homySecFive {
    min-width: 430px;
  }
}

@media screen and (max-width: 572px) {
  .homySection5MainTwo {
    right: 67px;
    top: 186px;
  }
}

.logoIconsBank {
  font-size: 2.1875rem;
}

.loginForm {
  width: 78%;
  margin: auto;
  padding: 2rem;
  background-color: #d2ebfb;
  border-radius: 20px;
}

.btnBox {
  display: flex;
  gap: 20px;
}

.loginBtn {
  color: red;
  background-color: white;
}

.registerForm {
  width: 50%;
}

.accountTypeCardDiv {
  width: 998px;
  height: 540px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

#hknw{

 font-weight: 800;
 font-size: 16px;
 padding: 1rem;

}  

@media screen and ( max-width:480px) {

  .accountTypeCardDiv{
    overflow-x: hidden;
  }
#hknw{

  padding: 3rem;
}  

}




@media screen and ( max-width:1080px) {

  .accountTypeCardDiv{

    width: 80%;

  }
  
}

@media screen and ( max-width:888px) {


  .ModalBody{

    flex-direction: column;
  }
  
}
.ModalBody {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  transition: all 1s ease;
}

.ActTypCard {
  transition: all 0.3s ease-in;
}
.ActTypCard:hover {
  scale: 1.01;
  box-shadow: 3px 4px 3px silver;
}

/* Footer Styles */
.lp-footer {
  margin-top: 2rem;
  background-color: #0a2742;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px 0;
}

/* Main Container */
.container-fluid.bg-dark-blue {
  background-color: #082135;
  padding: 20px 0;
}

/* Footer Main Section */
.lp-footer__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .lp-footer__main {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Logo */

.lp-footer__image img {
  max-width: 180px;
  height: auto;
  margin-bottom: 1rem;
}

/* Footer Links */
.lp-footer__links ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}

.lp-footer__links ul li {
  margin-bottom: 8px;
}

.lp-footer__links ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.lp-footer__links ul li a:hover {
  color: #f4b400;
}

/* Social Media Icons */
.lp-footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  gap: 1rem;
  padding-top: 1rem;
}

.lp-footer__social a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.lp-footer__social a:hover {
  color: #f4b400;
}

/* Mobile App Button */
.btn-outline-white {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.btn-outline-white:hover {
  background-color: #ffffff;
  color: #0a2742;
}

/* Bottom Section */
.container-fluid.bg-darkest-blue {
  background-color: #061728;
  padding: 15px 0;
}

.lp-footer__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  
}

@media (min-width: 768px) {
  .lp-footer__sub {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: baseline;
  }
}

.lp-footer__sub ul li {
  color: #ffffff;
}

.lp-footer__sub ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.lp-footer__sub ul li a:hover {
  color: #f4b400;
}


.lp-footer__copy {
  text-align: center;

  font-size: 14px;
}

a {
  color: black;
}

.sameClassFooter {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 1rem;
}

.list-group {
}

.lp-footer__sub ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}





@media screen and (max-width:768px) {
  
  .lp-footer__sub ul{

    flex-direction: column;
  }
}




.groupy {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.spinner {
  width: 14.4px;
  height: 14.4px;
  animation: spinner-o824ag 1s infinite linear;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #474bff;
  border-radius: 50%;
  animation: spinner-vse6n7 1.25s infinite ease;
}

.spinner div:nth-child(1) {
  --rotation: 90;
}

.spinner div:nth-child(2) {
  --rotation: 180;
}

.spinner div:nth-child(3) {
  --rotation: 270;
}

.spinner div:nth-child(4) {
  --rotation: 360;
}

@keyframes spinner-vse6n7 {
  0%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}

@keyframes spinner-o824ag {
  to {
    transform: rotate(360deg);
  }
}

.accountTypeCardDivInternalBody {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
